* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "header header header header"
        "main main main main"
        "footer footer footer footer";
    gap: 2rem;
    margin: 0;
    color: #444444;
}
/* Text */
h1 {
    font-size: 40px;
    font-weight: bold;
}
h2 {
    font-size: 24px;
    font-weight: bold;
}
h3 {
    font-size: 17px;
    font-weight: bold;
}
p {
    font-size: 17px;
    font-weight: normal;
    margin: 0;
}
.credit {
    font-size: 12px;
}

/* Header/Top Navigation*/
header {
    grid-area: header;
    background: #03a3df;
    color: white;
    padding: 2rem;
}
.header-title {
    font-size: 4rem;
    font-weight: bold;
}
header ul {
    list-style-type: none;
    padding: 0;
}
header li {
    display: inline;
}
header a {
    text-decoration: none;
    padding-right: 1rem;
    color: white;
}
main {
    grid-area: main;
}

/* Instructor Page*/
.instructor-section {
    display: grid;
    margin: 4rem;
}
.about {
    grid-area: 1 / 1 / 2 / 7;
}
.about h1 {
    text-align: center;
}
.instructors-list {
    grid-area: 2 / 3 / 3 / 5;
}
.instructor {
    display: flex;
    background: #1b447f;
    color: white;
    justify-content: space-between;
    margin: 4rem;
    padding: 1rem;
}
.instructor h3 {
    color: #ecb722;
}

/* Homepage */
.home-page-grid {
    display: grid;
    gap: 1rem;
    margin: 2rem;
}
.welcome {
    grid-area: 1 / 1 / 2 / 7;
    padding-bottom: 2rem;
    text-align: center;
}
.home-page-about {
    grid-area: 2 / 1 / 3 / 5;
    padding: 2rem;
    background: #1b447f;
    color: white;
}
.home-page-aside {
    grid-area: 2 / 5 / 3 / 7;
    padding: 2rem;
    border: 3px solid #03a3df;
}
.aside-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.home-page-aside img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.aside-text{
    text-align: center;
    padding-bottom: 1rem;
}
.aside-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
}
.aside-links a {
    width: 40%;
    background: #ecb722;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #444444;
}
.home-page-about h2 {
    text-decoration: underline #ecb722 4px;
    text-underline-offset: 5px;
}
.home-page-about h3 {
    text-decoration: underline #ecb722 2px;
    text-underline-offset: 5px;
}
.location {
    grid-area: 3 / 1 / 4 / 7;
    padding: 2rem;
}
.home-page-about img {
    width: 10rem;
}

.facility-grid-container {
    display: grid;
}
.facility-grid-text {
    grid-area: 1 / 1 / 2 / 4;
}
.facility-1 {
    grid-area: 2 / 1 / 3 / 2;
}
.facility-2 {
    grid-area: 2 / 2 / 3 / 3;
}
.facility-3 {
    grid-area: 2 / 3 / 3 / 4;
}


/* Services Page*/
.services-page {
    margin: 2rem;
}
.membership-container {
    border-bottom: 5px solid #ecb722;
    display: grid;
    padding: 1rem;
    gap: 2rem;
}
.membership-header {
    grid-area: 1 / 1 / 2 / 7;
}
.membership-option-1 {
    grid-area: 2 / 1 / 3 / 4;
}
.membership-option-2 {
    grid-area: 2 / 4 / 3 / 7;
}
.membership-option-2 ul {
    padding-left: 0;
}
.membership-option-2 li {
    padding-bottom: 1rem;
}
.membership-class-option {
    padding-bottom: 1rem;
}
.membership-option-2 a {
    text-decoration: none;
    color: #444444;
    background: #03a3df;
    padding: .5rem;
}
.membership-option-2 a:hover {
    background: #1b447f;
    color: white;
}
.group-class-container {
    background: #03a3df;
}
.private-lesson-container {
    background: #1b447f;
}

/* Footer*/
footer {
    grid-area: footer;
    background-image: url(https://github.com/UWFront-End-Cert/html100/blob/master/lesson07-styleguide/styleguide%20design%20elements/footerImage.jpg?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 1rem;
    height: 250px;
}


